<head>
    <title>BE Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">  
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">B.E. Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/index">Home</a>
        <a class="nav-item nav-link" href="/add">Allocate funds</a>
        <a class="nav-item nav-link" href="/graph">Fund Tracking</a>
        <a class="nav-item nav-link" href="/department_transactions">Transactions</a>
        <a class="nav-item nav-link active" href="/transactions">Blockchain <span class="sr-only">(current)</span></a>
      </div>
    </div>
    <ul class="nav navbar-nav ml-auto">
        <a class="nav-item nav-link" >Hello, <%= username %></a>
        <form class="form-inline" action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger" type="submit">Logout</button>
          </form>
    </ul>
</nav>

<div style="margin: 2.5%;">
<table class="table table-bordered">
<thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Transaction</th>
        <th scope="col">Nonce</th>
        <th scope="col">Previous Block Hash</th>
        <th scope="col">Hash</th>
    </tr>
</thead>
<tbody>
    <% blockchain_transactions.forEach(function(block){ %>
        <tr>
            <th scope="row" style="width: 10%"><%= block.index %></th>
            <td class="col-md-12"><%= block.timestamp %></td>
            
            <% if(block.transactions!=[]) { %>
                <% block.transactions.forEach(function(transaction){ %>
                <td style="width: 30">
                    <p>Amount: <%= transaction.amount %></p>
                    <p>Sender: <%= transaction.sender %></p>
                    <p>Recipient: <%= transaction.recipient %></p>
                    <p>Project: <%= transaction.project %></p>
                    <p>Transaction ID: <%= transaction.transactionId %></p>
                </td>
                <% }) %>
            <% } %>
            <td style="width: 10%"><%= block.nonce %></td>
            <td style="width: 20%"><%= block.previousBlockHash %></td>
            <td style="width: 20%"><%= block.hash %></td>
        </tr>
    <% }) %>
    
</tbody>
</table>


</div>